{% extends 'app/base.html' %}

{% load custom_tags%}

{% block content%}

<style>
    a:hover {
        text-decoration: none;
    }

    a {
        color: black;
    }
</style>



<div>
    <!-- form -->
    <form action="" id="filterForm" method="GET">
        <div class="row ">
            <div class="col">
                <div class="form-group">
                    <label for="">Select State</label>
                    <select name="state" class="form-control" id="stateSelect">
                        <option value=" ">Select State</option>
                        {% for state in states %}
                        <option {% is_option_selected selected_state_id state.pk %} value="{{state.pk}}">{{state}}
                        </option>
                        {%endfor%}

                    </select>
                </div>
            </div>
            <!-- cities -->
            <div class="col">
                <div class="form-group">
                    <label for="">Select City</label>
                    <select name="city" class="form-control" id="citySelect">
                        <option value="">Select city</option>
                        {% for city in cities %}
                        <option {% is_option_selected selected_city_id city.pk %} value="{{city.pk}}">{{city}}</option>
                        {%endfor%}

                    </select>
                </div>
            </div>
            <!-- facility -->
            <div class="col">
                <div class="form-group">
                    <label for="">Select Facility</label>
                    <select name="facility" class="form-control" id="facilitySelect">
                        <option value="">Select Facility</option>
                        {% for facility in facilities %}
                        <option {% is_option_selected selected_facility_id facility.pk %} value="{{facility.pk}}">
                            {{facility.title}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>

        </div>
        <div>
            <a class="btn btn-primary" href="/">Reset</a>
        </div>
    </form>
</div>
<table class="table text-center table-bordered mt-5"
    style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
    <thead class="thead-light">
        <tr>
            <th rowspan="2">Hospital</th>
            {% for facility in facilities %}
            <th colspan="2" class="text-center">{{facility}}</th>
            {% endfor %}

        </tr>
        <tr>

            {% for facility in facilities %}
            <th>Total</th>
            <th>Available</th>
            {% endfor %}

        </tr>
    </thead>
    <tbody>
        {% for hospital in hospitals %}
        <tr>
            <td><a href="/hospital/{{hospital.id}}">{{hospital.name}}</a></td>

            {% get_availabilitys hospital as availabilities %}
            {% for avl in availabilities%}
            <td>{{avl.total}}</td>
            <td class="{% get_table_class avl.available %}">{{avl.available}}</td>

            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Java Script -->
<script>
    window.onload = function () {
        var sateSelect = document.getElementById('stateSelect')
        var citySelect = document.getElementById('citySelect')
        var facilitySelect = document.getElementById('facilitySelect')

        var form = document.getElementById('filterForm')

        var formSubmit = function () {
            form.submit()
        }
        sateSelect.onchange = formSubmit
        citySelect.onchange = formSubmit
        facilitySelect.onchange = formSubmit

    }
</script>

{% endblock %}